<ion-header collapse="condense" class="ion-margin-bottom">
  <ion-toolbar>
    <ion-title>Indicadores</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
 

  <!-- <app-explore-container name="Indicadores"></app-explore-container> -->
  <ion-list [inset]="true">
  <ion-item lines="full" href="#" detail="true" [routerLink]="['/single', 'dolar']">
    <ion-avatar slot="start">
      <img alt="Dolar" src="https://tomaslefever.github.io/indicadores/assets/img/dollar.svg" />
    </ion-avatar>
    <ion-label>
      <h2>Dólar</h2>
      <h4 *ngIf="dolar">Valor: <span>{{dolar.Dolares[0].Valor}}</span></h4>
    </ion-label>
  </ion-item>

  <ion-item lines="full" href="#" detail="true" [routerLink]="['/single', 'euro']">
    <ion-avatar slot="start">
      <img alt="Euro" src="https://tomaslefever.github.io/indicadores/assets/img/euro.svg" />
    </ion-avatar>
    <ion-label>
      <h2>Euro</h2>
      <h4 *ngIf="euro">Valor: <span>{{euro.Euros[0].Valor}}</span></h4>
    </ion-label>
  </ion-item>

  <ion-item lines="full" href="#" detail="true" [routerLink]="['/single', 'ipc']">
    <ion-avatar slot="start">
      <img alt="IPC" src="https://tomaslefever.github.io/indicadores/assets/img/ipc.svg" />
    </ion-avatar>
    <ion-label>
      <h2>IPC</h2>
      <h4 *ngIf="ipc">Valor: <span>{{ipc.IPCs[0].Valor}}</span></h4>
    </ion-label>
  </ion-item>

  <ion-item lines="full" href="#" detail="true" [routerLink]="['/single', 'uf']">
    <ion-avatar slot="start">
      <img alt="UF" src="https://tomaslefever.github.io/indicadores/assets/img/uf.svg" />
    </ion-avatar>
    <ion-label>
      <h2>UF</h2>
      <h4 *ngIf="uf">Valor: <span>{{uf.UFs[0].Valor}}</span></h4>
    </ion-label>
  </ion-item>

  <ion-item lines="full" href="#" detail="true" [routerLink]="['/single', 'utm']">
    <ion-avatar slot="start">
      <img alt="UTM" src="https://tomaslefever.github.io/indicadores/assets/img/utm.svg" />
    </ion-avatar>
    <ion-label>
      <h2>UTM</h2>
      <h4 *ngIf="utm">Valor: <span>{{utm.UTMs[0].Valor}}</span></h4>
    </ion-label>
  </ion-item>
</ion-list>
</ion-content>
